<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
	<link rel="stylesheet" href="/css/style.css">
  </head>
  <divebody>
	<div class="sfondo">

		<div class="navbar">
			<img src="/images/wanderlustLogo.png" class="logo" width="80%">
		</div>
		<div class="row">
			<div class="col">
				<div class="card c1">
					<h5>Organizza un viaggio</h5>
					<p>Organizza con Wanderlust!</p>
					<button type="button"><a class="bottoneHomepage buttonHP" href="/formNewTrip">Organizza</a></button>
				</div>
				<div class="card c2">
					<h5>Login</h5>
					<p>Fai l'accesso o registrati!</p>
					<button type="button"><a class="bottoneHomepage buttonHP" href="/login">Login</a></button>
				</div>
				<div class="card c3">
					<h5>I nostri viaggi</h5>
					<p>Dai un' occhiata ai viaggi!</p>
					<button type="button"><a class="bottoneHomepage buttonHP" href="/trips">Viaggi</a></button>
				</div>
				<div class="card c4">
					<h5>I nostri leaders</h5>
					<p>Scopri chi sono i leaders</p>
					<button type="button"><a class="bottoneHomepage buttonHP" href="/leaders">Leaders</a></button>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>