<!DOCTYPE html>
<html>

<head>
	<title>Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	
	<div class="sfondo">

			<div class="content">
	
			<header>
				<div th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div th:unless="${user}">
					<a href="/login">Login</a>
				</div>
			</header>
		
			<h1 class="scritta">ciao <strong th:text="${user.name}" class="scritta"></strong>!</h1>
			<div>
				<span><strong>Nome: </strong></span>
				<span th:text="${user.name}"></span>
			</div>
			<div>
				<span><strong>Cognome: </strong> </span>
				<span th:text="${user.surname}"></span>
			</div>
			<div>
				<span><strong>Email: </strong> </span>
				<span th:text="${user.email}"></span>
			</div>
	
			<button type="button"><a class="bottone buttonNormal" href="/">Homepage</a></button><br>
			<button type="button"><a class="bottone buttonNormal" href="/login">Login</a></button><br>
			
		</div>
			
	</div>
		
</body>
</html>